.greenButton{
    
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
  
   
  
    &:hover{
      background: lighten($color: #9dd558, $amount: 5%) ;
    }
  
    &:active{
      background: darken($color: #9dd558, $amount: 5%);
    }
  
  }